# Parse Server (shared with Billientt.blog backend)
PARSE_SERVER_URL=https://backendweb.eollinea.com/parse
PARSE_APP_ID=f86207c4cf7bdc08ff889e9d8519bbf3
PARSE_JAVASCRIPT_KEY=5828916ef66b1aba0ab4efdb2724c00f27a6560ba126509ca1bbccff3a13e56c
